[Desktop Entry]
Encoding=UTF-8
Name=ABA
Comment=ABA P2P Cryptocurrency
Comment[fr]=ABA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ABA, eşten eşe kriptografik sanal para birimi
Exec=aba-qt %u
Terminal=false
Type=Application
Icon=aba128
MimeType=x-scheme-handler/aba;
Categories=Office;Finance;
