[Unit]
Description=Aba's distributed currency daemon
After=network.target

[Service]
User=aba
Group=aba

Type=forking
PIDFile=/var/lib/abad/abad.pid

ExecStart=/usr/bin/abad -daemon -pid=/var/lib/abad/abad.pid \
          -conf=/etc/aba/aba.conf -datadir=/var/lib/abad

ExecStop=-/usr/bin/aba-cli -conf=/etc/aba/aba.conf \
         -datadir=/var/lib/abad stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
